.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerImg{
  height: 260px;
  width: 260px;
  /* border: 5px solid #555; */
  overflow: hidden;
}
.imgClass{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.changeImg {
  display: none;
}
    
.containerImg:hover + .changeImg {
  display: block;
}

.upload input{
  display: none;
}
