.headerNailsGallery{
  margin-top: 50px;
  width: 110%;
  height: 500px;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
}
.divBackImg2{
  background-image: url("../../../img/wide1.jfif");
}
.galLogoInner{
  margin-top: 200px;
  padding-right: 30%;
  color: rgb(255,255,255);
  font-size: 60px;
  font-family: ganFont,sans-serif;
}
.cont {
  margin-left: 100px;
  margin-right: 100px;
  width:1000px;
  margin-bottom: 50px;
}
