
@font-face {
  font-family: 'ganFont';
  src: local('ganFont'),
       url("../../../fonts/gan/gan/ganclm_bold-webfont.ttf") format('truetype'),
       url("../../../fonts/gan/gan/ganclm_bold-webfont.woff") format("woff");
}

.signOutBtn {
  position: absolute;
  top:20%;
  left: 10%;
}
.appointBtn {
  position: absolute;
  top:30%;
  left: 10%;
}
.btnContainer .btn {
  width:50px;
  height: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background-color:rgb(179, 0, 98) ;
  padding: 5px;
  cursor: pointer;
  /* border: 1px solid; */
  border-radius: 50%;
  text-align: center;
  z-index: 99999;
}

.btnContainer .btn:hover {
  background-color: black;
}

.btnContainer .btn:focus,
.btnContainer .btn:active {
    border: none;
  outline: none;
}
.guest{
  margin-top: 10%;
}
.guest h1{
  font-family: ganFont,sans-serif;
  color:rgb(179, 0, 98) ;

}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-right: 3%;
}

#customers td, #customers th {
  border: 3px solid rgb(128, 33, 88);
  border-radius: 4px;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a50b72;
  color: white;
}

