.btnContainer {
    position: fixed;
    width: 100px;
    height: 100px;
    max-width: 400px;
  }
  
  .btnContainer img {
    width: 100%;
    height: auto;
  }
  
  .btnContainer .btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    background-color:rgb(179, 0, 98) ;
    padding: 12px 24px;
    cursor: pointer;
    /* border: 1px solid; */
    border-radius: 50%;
    text-align: center;
  }
  
  .btnContainer .btn:hover {
    background-color: black;
  }
  
  .btnContainer .btn:focus,
  .btnContainer .btn:active {
      border: none;
    outline: none;
  }