/* fonts */
@font-face {
  font-family: ganFont;
  src: url("../../../../fonts/gan/gan/ganclm_bold-webfont.ttf") format('truetype'),
       url("../../../../fonts/gan/gan/ganclm_bold-webfont.woff") format("woff");
}
/* BLINK TEXT */
.blink_me {
animation: blinker 4s linear infinite;
}

@keyframes blinker {
50% {
  opacity: 0;
}
}

.aboutLine{
height: 300px;
overflow: hidden;
margin-top: 20px;
}

#info{
position: relative;
height: 90%;
}
#news{
position: relative;
height: 90%;
}
.title{
width:auto;
height: 50px;
color: #80002a;
border-radius: 15px;
z-index: 1;
background-color: #ffe6e6;
position: absolute;
top:0;
right: 0;
font-family: ganFont,sans-serif;
}
.infoContent{
width:90%;
height: 100%;
/* border: 2px solid #b3b3b3; */
border-radius: 15px;
position: absolute;
color: #666666;
background-color: #ffe6e6;
top: 20px;
right: 40px;
font-family: 'Varela Round', sans-serif;
line-height: 1.5;
text-align: center;
overflow: hidden;
}
.extra img{
width: 360px;
height: auto;
margin-left: 90px;
opacity: 0.7;
}
.title2 h4{
font-family: 'Lobster', cursive;
}